body {
    background-color: #1F2937;
    margin: 10vw;
    font-family: karla;
}

#title {
    color: #FFFFFF;
    width: 18vw;
    margin: 0;
    cursor: default;
}

#random-password-title {
    color: #4ADF86;
}

#paragraph {
    color: #D5D4D8;
    font-size: 17px;
    margin: 0.5vw 0 3vw 0;
    cursor: default;
}

#generate-passwords {
    color: #FFFFFF;
    background-color: #10B981;
    border: none;
    border-radius: 4px;
    padding: 13px 17px;
    font-size: 15px;
    cursor: pointer;
}

.line {
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;

    border: 1px solid #2F3E53
}

.random-passwords {
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    float: left;
    color: #55F991;
    text-align: center;
    line-height: 40px;
}

.second-password {
    margin-left: 3vw;
}